<ion-header>
    <img src="{{ logo }}" />
</ion-header>
<ion-content>
    <loading *ngIf="loading"></loading>
    <slide [images]="data.img"></slide>
    <form [formGroup]="formCreate">
        <ion-list class="list-login">
            <ion-item class="item-list-username-login-registro">
                <ion-label floating for="id">
                    cedula
                </ion-label>
                <ion-input type="number" formControlName="id" autocomplete="off" clearInput></ion-input>
            </ion-item>

            <div class="validation-errors" *ngIf="formCreate.get('id').touched">
                <ng-container *ngFor="let validation of validation_messages.id" >
                    <div *ngIf="formCreate.get('id').hasError(validation.type)">
                        <p>{{validation.message}}</p>
                    </div>
                </ng-container>
            </div>
    
            <ion-item class="item-list-username-login-registro">
                <ion-label floating for="name">
                    nombre
                </ion-label>
                <ion-input type="text" formControlName="name" clearInput></ion-input>
            </ion-item>

            <div class="validation-errors" *ngIf="formCreate.get('name').touched">
                <ng-container *ngFor="let validation of validation_messages.name" >
                    <div *ngIf="formCreate.get('name').hasError(validation.type)">
                        <p>{{validation.message}}</p>
                    </div>
                </ng-container>
            </div>
    
            <ion-item class="item-list-username-login-registro">
                <ion-label floating for="lastName">
                    apellido
                </ion-label>
                <ion-input type="text" formControlName="lastName" clearInput></ion-input>
            </ion-item>

            <div class="validation-errors" *ngIf="formCreate.get('lastName').touched">
                <ng-container *ngFor="let validation of validation_messages.lastName" >
                    <div *ngIf="formCreate.get('lastName').hasError(validation.type)">
                        <p>{{validation.message}}</p>
                    </div>
                </ng-container>
            </div>
    
            <ion-item class="item-list-username-login-registro">
                <ion-label floating for="email">
                    email
                </ion-label>
                <ion-input type="text" formControlName="email" clearInput></ion-input>
            </ion-item>

            <div class="validation-errors" *ngIf="formCreate.get('email').touched">
                <ng-container *ngFor="let validation of validation_messages.email" >
                    <div *ngIf="formCreate.get('email').hasError(validation.type)">
                        <p>{{validation.message}}</p>
                    </div>
                </ng-container>
            </div>
    
            <ion-item class="item-list-username-login-registro">
                <ion-label color="text" class="text12">Acepto términos y condiciones</ion-label>
                <ion-checkbox formControlName="termsAccepted" color="button" checked="false" (ionChange)="onTermsChecked($event)"></ion-checkbox>
            </ion-item>

            <div class="validation-errors" *ngIf="formCreate.get('email').touched">
                <ng-container *ngFor="let validation of validation_messages.termsAccepted" >
                    <div *ngIf="formCreate.get('termsAccepted').hasError(validation.type)">
                        <p>{{validation.message}}</p>
                    </div>
                </ng-container>
            </div>
    
        </ion-list>
        <div style="text-align: center">
            <a class="cursorClass" (click)="terms()">términos y condiciones</a>
        </div>
        <div class="contenteLink">
            <button ion-button type="submit" [disabled]="!formCreate.valid" (click)="create()">
                {{ data.buttonRegister }}
            </button>
            <button ion-button type="button" (click)="cancel()">
                {{ data.buttonCancel }}
            </button>
        </div>
    </form>
</ion-content>