<ion-content>
    <div class="logo">
        <img src="{{ logo }}" />
    </div>
    <form [formGroup]="preLoginForm">
        <ion-list class="list-login">
            <h2 class="titulo-registro">{{ data.title }}</h2>
            <ion-item class="item-list-username-login">
                <ion-label floating for="country">
                    Pais
                </ion-label>
                <ion-select formControlName="country" name="country" interface="action-sheet" (ionChange)="selectCountry()">
                    <ion-option *ngFor="let country of countries" [value]="country.id">
                        {{ country.name }}
                    </ion-option>
                </ion-select>
            </ion-item>
            <ion-item class="item-list-password-login">
                <ion-label floating for="city">
                    Ciudad
                </ion-label>
                <ion-select formControlName="city" name="city" interface="action-sheet">
                    <ion-option *ngFor="let city of cities" [value]="city.idCity">
                        {{ city.city }}
                    </ion-option>
                </ion-select>
            </ion-item>
        </ion-list>
        <div class="div-button">
            <button ion-button class="button-login" [disabled]="!preLoginForm.valid" type="submit" (click)="continuar()">Continuar</button>
        </div>
    </form>

</ion-content>