<ion-header (click)="add_to_home(event)">
    <img src="{{ logo }}" />
</ion-header>

<ion-content>
    <loading *ngIf="loading"></loading>
    <slide [images]="data.img"></slide>
    <h1>{{ config }}</h1>
    <form [formGroup]="loginForm">
        <ion-list class="list-login">
            <h2 class="titulo-registro">Ingresa tus datos para comenzar</h2>

            <ion-item class="item-list-username-login-registro">
                <ion-label floating for="Usuario">
                    N° de Documento
                </ion-label>
                <ion-input formControlName="usuario" type="text" name="usuario" autocomplete="off" clearInput></ion-input>
            </ion-item>
            <ion-item class="item-list-password-login-registro">
                <ion-label floating for="contrasena">
                    Contraseña
                </ion-label>
                <ion-input formControlName="contrasena" type="password" name="contrasena" clearInput></ion-input>
            </ion-item>

            <re-captcha #captchaRef (resolved)="continuar($event)" siteKey="6LfBaokUAAAAAB5Sm0FgvBFZeDfWgFwN1QVXPriE" size="invisible"></re-captcha>
        </ion-list>
        <div class="div-button">
            <button ion-button class="button-login" 
            [disabled]="!loginForm.valid" 
            type="submit" (click)="continuar()">{{data.buttonLogin}}</button>
        </div>
        <div class="div-olvidaste">
            <a class="cursorClass" (click)="register()">{{data.buttonRegister}}</a>
            <a class="cursorClass" (click)="olvido()">{{data.buttonReset}}</a>
        </div>
    </form>
</ion-content>