<ion-header no-border class="header">
    <ion-title>
        historico
    </ion-title>
    <img class="menu-close" src="assets/icon/menu_icon.svg" menuToggle/>
</ion-header>
    
<ion-content padding>
    <ion-list>
        <ion-card>
        <ion-card-header>
            46561SV
        </ion-card-header>
        <ion-card-content>
            <h2>
            Garantia Autolarte v.20
            </h2>
            <p>Juan Perez</p>
            <p>mayo 23 2018</p>
            <p>CC. 79456123</p>
            <p>05/02/1196</p>
            <p>calle 158 # 49 - 10</p>
            <p>juanperez@gmail.com</p>
            <p>300202594</p>
        </ion-card-content>
        </ion-card>
    </ion-list>
    <ion-grid>
        <ion-row>
            <ion-col>
                <button ion-button >Descargar</button>
            </ion-col>
            <ion-col>
                <button ion-button >Coberturas</button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>