<ion-header no-border class="header">
    <button class="menu" (click)="func()">
        <img src="assets/icon/Arrow-Left.svg" alt="">
    </button>
    <ion-title>
        Perfil
    </ion-title>
    <img class="menu-close" src="assets/icon/menu_icon.svg" menuToggle/>
</ion-header>

<ion-content padding>
    <loading *ngIf="loading"></loading>
    <ion-card>
        <ion-card-content>
            <ion-grid>
                <ion-row>
                    <ion-col col-4>
                        <b>Nombre:</b>
                    </ion-col>
                    <ion-col col-8>
                        {{ name }}
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col col-4>
                        <b>Documento:</b>
                    </ion-col>
                    <ion-col col-8>
                        {{ cc }}
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col col-4>
                        <b>Email:</b>
                    </ion-col>
                    <ion-col col-8>
                        {{ email }}
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-card-content>
    </ion-card>
    <!--div class="contenteLink">
        <button ion-button (click)="perfilEditar()">Editar</button>
    </div-->

</ion-content>