<ion-content padding>
    <ion-list>
        <ion-item>
            <ion-avatar item-start>
                <ion-icon name="call"></ion-icon>
            </ion-avatar>
            <h2>16/03/2018 <b>8:55 a.m.</b></h2>
            <p>Reporte averia</p>
        </ion-item>
        <ion-item>
            <ion-avatar item-start>
                <ion-icon name="call"></ion-icon>
            </ion-avatar>
            <h2>25/01/2018  <b>10:55 p.m.</b></h2>
            <p>Accidente</p>
        </ion-item>
        <ion-item>
            <ion-avatar item-start>
                <ion-icon name="call"></ion-icon>
            </ion-avatar>
            <h2>16/03/2018 <b>8:55 a.m.</b></h2>
            <p>Reporte averia</p>
        </ion-item>
        <ion-item>
            <ion-avatar item-start>
                <ion-icon name="call"></ion-icon>
            </ion-avatar>
            <h2>25/01/2018 <b>10:55 p.m.</b></h2>
            <p>Accidente</p>
        </ion-item>
        <ion-item>
            <ion-avatar item-start>
                <ion-icon name="call"></ion-icon>
            </ion-avatar>
            <h2>16/03/2018 <b>8:55 a.m.</b></h2>
            <p>Reporte averia</p>
        </ion-item>
        <ion-item>
            <ion-avatar item-start>
                <ion-icon name="call"></ion-icon>
            </ion-avatar>
            <h2>25/01/2018 <b>10:55 p.m.</b></h2>
            <p>Accidente</p>
        </ion-item>
    </ion-list>
</ion-content>