<ion-header no-border class="header">
    <button class="menu" (click)="dismiss(data.back)">
        <img src="assets/icon/Arrow-Left.svg" alt="">
    </button>
    <ion-title>
        {{ data.title }}
    </ion-title>
    <img class="menu-close" src="assets/icon/menu_icon.svg" menuToggle/>
</ion-header>

<ion-content>
    <loading *ngIf="loading"></loading>
    <h4>{{ data.title }}</h4>
    <form [formGroup]="modalForm" (ngSubmit)="continuar()">
        <ion-list>

            <ion-input formControlName="id" type="hidden" name="id" autocomplete="off" clearInput disabled [(ngModel)]="nif"></ion-input>

            <ion-item class="item-list-username-login-registro">
                <ion-label floating for="namePac">
                    Nombre del Paciente
                </ion-label>
                <ion-input formControlName="namePac" type="text" name="namePac" autocomplete="off" clearInput></ion-input>
            </ion-item>

            <ion-item class="item-list-username-login-registro">
                <ion-label floating for="age">
                    Edad
                </ion-label>
                <ion-input formControlName="age" type="text" name="age" autocomplete="off" clearInput [(ngModel)]="ageModel" (change)="change()" maxlength="2"></ion-input>
            </ion-item>

            <ion-item class="item-list-username-login-registro">
                <ion-label floating for="address">
                    Dirección del Paciente
                </ion-label>
                <ion-input formControlName="address" type="text" name="address" autocomplete="off" clearInput [(ngModel)]="addressOne"></ion-input>
            </ion-item>

            <ion-item class="item-list-username-login-registro">
                <ion-label floating for="address">
                    Interior/Torre/Piso/Apartamento
                </ion-label>
                <ion-input formControlName="compAddress" type="text" name="address" autocomplete="off" clearInput></ion-input>
            </ion-item>

            <ion-item *ngIf="modalForm.get('address').errors && modalForm.get('address').touched">
                <p *ngIf="modalForm.get('address').hasError('required')">Campo requerido</p>
            </ion-item>

            <ion-input formControlName="email" type="hidden" name="email" autocomplete="off" clearInput [(ngModel)]="email"></ion-input>

            <ion-item class="item-list-username-login-registro">
                <ion-label floating for="cel">
                    Celular de Contacto
                </ion-label>
                <ion-input formControlName="cel" type="number" name="cel" autocomplete="off" clearInput></ion-input>
            </ion-item>

            <ion-item class="item-list-username-login-registro">
                <ion-label floating for="text">
                    Sintomas
                </ion-label>
                <ion-textarea formControlName="text" name="text" clearInput></ion-textarea>
            </ion-item>
            <ion-item *ngIf="modalForm.get('text').errors && modalForm.get('text').touched">
                <p *ngIf="modalForm.get('text').hasError('required')">Campo requerido</p>
                <p *ngIf="modalForm.get('text').hasError('maxlength')">Maximo 500 caracteres.</p>
            </ion-item>
        </ion-list>
        <div class="div-button">
            <button ion-button [disabled]="!modalForm.valid" type="submit">{{ data.button }}</button>
        </div>
    </form>
</ion-content>