page-modal-doc {
    h4{
        color: #072146;
        background: #ffffff;
        padding: 1.6rem 0 1rem 1rem;
        margin: 0;
    }
    input[type=submit]{
        width: 150px;
        margin: 0 auto;
        display: block;
    }
}
.alert-md .alert-button-group{
    display: flex;
    justify-content: center;
    .alert-button.alert-button-md.alert-button-default.alert-button-default-md{
        background: #488aff;
        color: #ffffff;
        text-align: center !important;
    }
}
.alert-md .alert-message{
    color: #488aff !important;
    text-align: center !important;
}
.alert-md .alert-head{
    /*background: url(/assets/icon/correct_icon-g.svg) no-repeat center;*/
margin: 10px 0 20px;
}
.alert-md .alert-title{
    font-size: 18px !important;
}
.alert-md .alert-sub-title{
    font-size: 14px;
}
.alert-title img{
    width: 50px;
    display: block;
    text-align: center;
    margin: 0 auto;
}