<ion-header no-border class="header">
    <button class="menu" (click)="func(data.back)">
        <img src="assets/icon/Arrow-Left.svg" alt="">
    </button>
    <ion-title>
        {{ data.title }}
    </ion-title>
    <img *ngIf="viewMenu" class="menu-close" src="assets/icon/menu_icon.svg" menuToggle />
</ion-header>

<ion-content>
    <slide *ngIf="data.img" [images]="data.img"></slide>

    <ion-card>
        <ion-card-header [innerHTML]="data.infor" *ngIf="data.infor">
            {{ data.infor }}
        </ion-card-header>
        <ion-card-content>
            <div class="contenteLink">
                <form *ngIf="data.inputs">
                    <ion-list class="list-login" *ngFor="let input of data.inputs; index as i">
                        <ion-item class="item-list-username-login-registro" *ngIf="input.type == 'text'">
                            <ion-label floating>
                                {{ input.text }}
                            </ion-label>
                            <ion-input type="text" autocomplete="off" [(ngModel)]="form" name="form" clearInput></ion-input>
                        </ion-item>
                        <!--div class="div-button" *ngIf="input.type == 'submit'">
                            <button ion-button class="button-login" type="submit" (click)="formCall()">{{ input.text }}</button>
                        </div-->
                    </ion-list>
                </form>
                <div *ngIf="data.infor">
                    <a *ngIf="!data.urlCall" class="disable-hover button button-md button-default button-default-md"
                        href="{{ data.call[0].number }}" (click)="addFirebase(data.call[0].number, data.title, data.name)">
                        <span class="button-inner">{{ data.call[0].text }}</span>
                    </a>
                    <button ion-button type="button" (click)="func(data.back)">{{ data.cancel }}</button>
                </div>
                <div *ngIf="data.urlCall" style="margin: 10% 0 1%;">
                    <button ion-button class="button-login" type="submit" (click)="formCall(data.urlCall, data.title, data.name)">{{
                        data.call[0].text }}
                    </button>
                </div>
            </div>
        </ion-card-content>
    </ion-card>
</ion-content>