<ion-header no-border class="header">
    <button class="menu" (click)="dismiss(dataTwo.back)">
        <img src="assets/icon/Arrow-Left.svg" alt="">
    </button>
    <ion-title>
        {{ dataTwo.title }}
    </ion-title>
    <img class="menu-close" src="assets/icon/menu_icon.svg" menuToggle />
</ion-header>
<ion-content>
    <loading *ngIf="loading"></loading>
    <h4>{{ dataTwo.title }}</h4>
    <ion-grid>
        <ion-row>
            <ion-col col-9>
                <input id="pac-input" class="controls" type="text" placeholder="Buscar">
                <button class="clean" (click)="clean()">x</button>
            </ion-col>
            <ion-col col-3>
                <input type="submit" value="{{ data.search }}" (click)="solicitar()">
            </ion-col>
        </ion-row>
    </ion-grid>

    <div id="map"></div>
    <ion-grid class="solicid">
        <ion-row>
            <ion-col>
                <input type="submit" value="{{ data.button }}" (click)="viewForm()">
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>