<ion-header no-border class="header">
    <button class="menu" (click)="func(data.back)">
        <img src="assets/icon/Arrow-Left.svg" alt="">
    </button>
    <ion-title>
        {{ data.title }}
    </ion-title>
    <img class="menu-close" src="assets/icon/menu_icon.svg" menuToggle/>
</ion-header>


<ion-content>
    <loading *ngIf="loading"></loading>
    <div id="map"></div>
</ion-content>