<ion-header>
    <ion-navbar color="bbva" hideBackButton>
        <ion-buttons>
            <img class="menu-logo" src="assets/imgs/bbva-logo-blanco.png"/>
        </ion-buttons>
        <ion-title>
            <ion-title>Perfil</ion-title>
        </ion-title>
        <button ion-button menuToggle end>
            <ion-icon name="menu"></ion-icon>
        </button>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <form>
        <ion-list>
            <ion-item >
                <ion-label floating for="cif">
                    Tipo de CIF
                </ion-label>
                <ion-select name="cif" interface="action-sheet">
                    <ion-option *ngFor="let option of cifOptions" [value]="option.value">
                    {{ option.name }}
                    </ion-option>
                </ion-select>
            </ion-item>
            <ion-item >
                <ion-label floating for="ciudad">
                    Ciudad Pais 
                </ion-label>
                <ion-input type="text" name="ciudad" placeholder="Ciudad Pais"></ion-input>
            </ion-item>
            <ion-item >
                <ion-label floating for="documento">
                    Documento de identidad 
                </ion-label>
                <ion-input type="number" name="documento" placeholder="Documento de identidad"></ion-input>
            </ion-item>
            <ion-item >
                <ion-label floating for="direccion">
                    Dirección
                </ion-label>
                <ion-input type="text" name="direccion" placeholder="Dirección"></ion-input>
            </ion-item>
            <ion-item >
                <ion-label floating for="email">
                    Email
                </ion-label>
                <ion-input type="email" name="email" placeholder="Email"></ion-input>
            </ion-item>
            <ion-item >
                <ion-label floating for="ciudad">
                    Edad
                </ion-label>
                <ion-input type="number" name="ciudad" placeholder="Edad"></ion-input>
            </ion-item>
            <ion-item >
                <ion-label floating for="sexo">
                Sexo
                </ion-label>
                <ion-select name="sexo" interface="action-sheet">
                    <ion-option *ngFor="let option of sexoOptions" [value]="option.value">
                    {{ option.name }}
                    </ion-option>
                </ion-select>
            </ion-item>
        </ion-list>
        <div>
            <button ion-button>Guardar</button>
            <button ion-button (click)="perfil()">Cancelar</button>
        </div>
    </form>
</ion-content>