<ion-header>
    <ion-navbar color="bbva">
        <ion-buttons>
            <img class="menu-logo" src="{{ logo }}" />
        </ion-buttons>
        <button ion-button menuToggle end>
            <img class="menu-icon" src="assets/icon/menu_icon.svg" />
        </button>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <loading *ngIf="loading"></loading>
    <ion-list>

        <ion-item *ngFor="let nav of menu" class="cursor" (click)="func(nav.click)" class="noPadding">

            <ion-grid>
                <ion-row>
                    <ion-col col-2>
                        <img class="menu-svg" src="{{ nav.icon }}" alt="">
                    </ion-col>
                    <ion-col col-10>
                        <h2>
                            <b>{{ nav.title }}</b>
                        </h2>
                        <p>{{ nav.description }}</p>
                    </ion-col>
                </ion-row>
            </ion-grid>

        </ion-item>

    </ion-list>
</ion-content>
<ion-footer class="tabs">
    <ion-grid>
        <ion-row>
            <ion-col col-3 *ngFor="let tab of tabs" (click)="click(tab.click)">
                <img src="{{ tab.icon }}" alt="">
                <span class="tabLabel">{{ tab.label }}</span>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-footer>