<ion-header no-border class="header">
    <button class="menu" (click)="func(data.back)">
        <img src="assets/icon/Arrow-Left.svg" alt="">
    </button>
    <ion-title>
        {{ data.title }}
    </ion-title>
    <img class="menu-close" src="assets/icon/menu_icon.svg" menuToggle/>
</ion-header>


<ion-content>
    <loading *ngIf="loading"></loading>

    <ion-list>
        <ion-item *ngFor="let lo of list" class="cursor" class="noPadding" (click)="detail(lo.idReg, lo.dsSubTipoProducto)">
            <ion-grid>
                <ion-row>
                    <ion-col col-2>
                        {{ lo.idReg }}
                    </ion-col>
                    <ion-col col-10>
                        <h2>
                            <b>{{ lo.dsSubTipoProducto }}</b>
                        </h2>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-item>
    </ion-list>
</ion-content>