<ion-header no-border class="header">
    <button class="menu" (click)="func()">
        <img src="assets/icon/Arrow-Left.svg" alt="">
    </button>
    <ion-title>
        contáctenos
    </ion-title>
    <img class="menu-close" src="assets/icon/menu_icon.svg" menuToggle />
</ion-header>
<ion-content>
    <slide *ngIf="data.img" [images]="data.img"></slide>
    <ion-card>
        <img src="assets/icon/contact.svg" alt="">
        <ion-card-header [innerHTML]="data.infor">
            {{ data.infor }} lhh
        </ion-card-header>
        <ion-card-content>
            <div class="contenteLink">
                <a *ngIf="!data.urlCall" class=" disable-hover button button-md button-default button-default-md" href="{{ data.call[0].number }}"
                    (click)="addFirebase(data.call[0].number, data.title, data.name)">
                    <span class="button-inner">{{ data.call[0].text }}</span>
                </a>
                <div *ngIf="data.urlCall" class="div-button">
                    <button ion-button class="button-login" type="submit" (click)="formCall(data.urlCall)">{{
                        data.call[0].text }}
                    </button>
                </div>
                <p (click)="func(data.back)" class="cancel">
                    {{ data.cancel }}
                </p>
            </div>
        </ion-card-content>
    </ion-card>
</ion-content>