@font-face {
    font-family: 'BentonSansBBVA-Book';
    src: url('../assets/fonts/BentonSansBBVA-Book.woff2') format('woff2'),
        url('../assets/fonts/BentonSansBBVA-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
*{
    font-family: 'BentonSansBBVA-Book';
    font-weight: normal;
    font-style: normal;
}