.select-icon-inner {
    color: color($colors, iconColor) !important;
}

.item-ios.item-label-stacked .text-input, .item-ios.item-label-floating .text-input{
    margin-top: 5px !important;
}

.icon-bbva {
    font-size: 40px !important;
    color:color($colors, iconColor) !important;
}

h2 {
    color: color($colors, titleH2) !important;
}

.logo{
    margin: 15% auto 0%;
    padding: 15px;
    text-align: center;
    img {
        height: auto;
        width: 100%;
    }
  }

.list-login {
    width: 95%;
    margin: 0% auto 0% auto !important;
}
.error{
    p{
        color: #f53d3d;
        text-align: center;
    }
}
.titulo-registro{
    font-size: 16px !important;
    color: #2A86CA !important;
    text-align: center;
    display: none;
}

.item-list-username-login {
    color: color($colors, iconColor) !important;
    // border-radius: 3% 3% 0% 0% !important;
    // border: 1px solid !important;
}

.item-list-username-login-registro {
    color: #49A5E6 !important;
}

.item-list-password-login {
    color: color($colors, iconColor) !important;
    // border-radius: 0% 0% 3% 3% !important;
    // border: 1px solid !important;
}

.item-list-password-login-registro {
    color: #49A5E6 !important;
}


.div-button{
margin: 10% 40% 1%;
}

.text12{
    font-size: 1.4rem;
}

.button-login {
text-transform: capitalize !important;
color: #fff;
text-align: center;
background: color($colors, button);
//background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…EiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
// background: -moz-linear-gradient(top, color($colors, button) 0%, color($colors, buttonBg) 100%);
// background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,color($colors, buttonBg)), color-stop(100%,#bd1e09));
// background: -webkit-linear-gradient(top, color($colors, button) 0%,color($colors, buttonBg) 100%);
// background: -o-linear-gradient(top, color($colors, button) 0%,color($colors, buttonBg) 100%);
// background: -ms-linear-gradient(top, color($colors, button) 0%,color($colors, buttonBg) 100%);
// background: linear-gradient(to bottom, color($colors, button) 0%,color($colors, buttonBg) 100%);
border-radius: 4px;
-webkit-border-radius: 3px;
box-shadow: 0 0 2px rgba(0, 0, 0, 0.3) inset;
-webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.3) inset;
}


.div-olvidaste {
    margin: 7% auto;
    text-align: center;
    .cursorClass {
        cursor: pointer;
        color: color($colors, titleH2);
        display: block;
        padding: 10px;
    }
}



// _____________________________________________
// menu

// ion-navbar[hidebackbutton] button[menutoggle] {
//     display: block !important;
// }

.menu-logo {
    width: 50%;
    margin: 0% 4%;
    max-width: 300px;
}

// _____________________________________________
// tabs

#tab-t0-0 {
    display: none;
}
#tab-t1-0 {
    display: none;
}
#tab-t2-0 {
    display: none;
}
#tab-t3-0 {
    display: none;
}
#tab-t4-0 {
    display: none;
}
#tab-t5-0 {
    display: none;
}

.tabbar {
    background: color($colors, footer) !important;
    height: 15%;
    a {
        ion-icon {
            min-width: 50px !important;
            font-size: 55px !important;
            height: 55px !important;
        }
    color: #ffffff !important;
    font-size: 12px !important;
    }
}

.tabs-ios .tab-button-icon {
    color: #ffffff !important;
}

.tabs-md .tab-button-icon {
    color: #ffffff !important;
}

.tabs-ios .tab-button:hover:not(.disable-hover), .tabs-ios .tab-button[aria-selected=true] {
    color: color($colors, header) !important;
    ion-icon {
        color: color($colors, header) !important;
    }
}

.tabs-md .tab-button:hover:not(.disable-hover), .tabs-md .tab-button[aria-selected=true] {
    color: color($colors, header) !important;
    ion-icon {
        color: color($colors, header) !important;
    }
}
/*
iconos tabs
*/
.disable-hover{
    .ion-ios-voucher-outline, .ion-ios-voucher, .ion-md-voucher, .ion-md-voucher-outline {
        content: url('../assets/icon/document_icon-w.svg');
        padding: 8% 8%;
    }
    .ion-ios-voucher-outline, .ion-ios-voucher, .ion-md-voucher, .ion-md-voucher-outline[aria-selected=true]{
        content: url('../assets/icon/document_icon-w.svg') !important;
        padding: 8% 8% !important;
    }
    .ion-ios-profile-outline, .ion-ios-profile, .ion-md-profile, .ion-md-profile-outline {
        content: url('../assets/icon/Profile-w.svg');
        padding: 8% 8%;
    }
    .ion-ios-History-outline, .ion-ios-history, .ion-md-history, .ion-md-history-outline {
        content: url('../assets/icon/Frequency-w.svg');
        padding: 8% 8%;
    }
    .ion-ios-contact-outline, .ion-ios-contact, .ion-md-contact, .ion-md-contact-outline {
        content: url('../assets/icon/email_icon-w.svg');
        padding: 8% 8%;
    }

    span.tab-button-text{
        color: #ffffff;
    }
}


.tabs-ios .tab-button[aria-selected=true] .tab-button-icon .ion-ios-voucher[aria-selected=true] {
    content: url('assets/imgs/bbva-logo.png');
}
// tab-button-icon icon icon-ios ion-ios-voucher

.ion-ios-voucher-outline:hover:not(.disable-hover),
.ion-ios-voucher:hover:not(.disable-hover),
.ion-md-voucher:hover:not(.disable-hover),
.ion-md-voucher-outline:hover:not(.disable-hover),
.ion-ios-voucher-outline[aria-selected=true],
.ion-ios-voucher[aria-selected=true],
.ion-md-voucher[aria-selected=true],
.ion-md-voucher-outline[aria-selected=true] {
    content: url('assets/imgs/receipt-blue.png');
}
// _____________________________________________
// home

.list-ios .item-block .item-inner {
    border-bottom: 0px !important;
}

.list-ios > .item-block {
    border-bottom: 0.55px solid #c8c7cc !important;
}
.title-internal{
    color: color($colors, footer);
    font-weight: 600;
    padding: 0 0 0 15px;
    margin: 0;
    text-align: center;
    font-size: 1.7rem;
}
.slides{
    position: relative;
    height: auto;
    width: 100%;
    .swiper-container{
        overflow: initial !important;
    }
    .swiper-pagination{
        display: block !important;
        bottom: 10px !important;
        .swiper-pagination-bullet{
            background: #ffffff !important;
        }
        .swiper-pagination-bullet-active{
            background: #ffffff !important;
        }
    }
}
.title2{
    color: color($colors, header) !important;
    padding: 0 0 0 15px;
}
.card-ios{
    .contenteLink{
        a{
            color: #fff;
            background: color($colors, button) !important;
            text-decoration: none;
            text-transform: capitalize;
            border-radius: 1px;
            font-size: 1.6rem;
            display: block;
            width: 101px;
            margin: 15px auto;

            padding: 21px;
            height: 2.8em;
        }
    }
}
.contenteLink{
    text-align: center;
    display: block;
    margin: 20px 0;
    a{
        color: #fff;
        background: color($colors, button) !important;
        text-decoration: none;
        text-transform: capitalize;
        border-radius: 1px;
        font-size: 1.6rem;
        display: block;
        width: 101px;
        margin: 15px auto;
    }
    button{
        text-transform: capitalize !important;
        color: #fff;
        text-align: center;
        // background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…EiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
        // background: -moz-linear-gradient(top, color($colors, button) 0%, color($colors, buttonBg) 100%);
        // background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,color($colors, buttonBg)), color-stop(100%,#bd1e09));
        // background: -webkit-linear-gradient(top, color($colors, button) 0%,color($colors, buttonBg) 100%);
        // background: -o-linear-gradient(top, color($colors, button) 0%,color($colors, buttonBg) 100%);
        // background: -ms-linear-gradient(top, color($colors, button) 0%,color($colors, buttonBg) 100%);
        // background: linear-gradient(to bottom, color($colors, button) 0%,color($colors, buttonBg) 100%);
        border-radius: 4px;
        -webkit-border-radius: 4px;
        box-shadow: 0 0 2px rgba(0, 0, 0, 0.3) inset;
        -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.3) inset;
    }
}
.menu-content-open{
    .menu, .disable-hover{
        color: transparent !important;
    }
}
.header {
    background: color($colors, header);
    min-height: 56px;
    /*max-height: 56px;*/
    display: flex !important;
    align-items: center;
    justify-content: space-between;
    /*padding: 3px !important;*/
    ion-title{
        .toolbar-title{
            color: #fff !important;
            font-weight: 300;
        }

    }
    .menu{
        color: #fff;
        background: none !important;
        height: 100% !important;
        top: 0 !important;
        right: 0;
        margin: 0 !important;
        box-shadow: none !important;
        font-size: 1.5em !important;
        img{
            width: 20px;
        }
    }
    ion-title{
        .toolbar-title{
            color: #ffffff !important;
            font-size: 1.3em;
            text-transform: capitalize;
            text-align: left;
            padding: 0 0 0 10px;
        }
    }
}
.lateral{
    img{
        width: 25px;
        margin-right: 15px;
    }
}
.menu-close{
    width: 30px;
    margin-right: 5px;
}
ion-menu ion-content div.scroll-content ion-list button .item-inner ion-label {
    color: #fff !important;
    height: 30px;
    display: flex;
    align-items: center;
    margin: 0 !important;
}
.menu-svg{
    width: 30px;
}
.padding{
    padding:0 16px;
}
.noPadding{
    padding-left:0 !important;
}
ion-label{
    overflow:initial !important;
    white-space: normal !important;
}
ion-card-header{
    white-space: normal !important;
}
.icon-img{
    width: 25px;
}
.scroll-content{
    margin-top: 55px !important
}
ion-header{
    img{
        max-width: 300px;
            display: block;
            margin: 0 auto;
            width: 50%;
            height: auto;
    }
}

.alert-md.select-alert{
    .alert-wrapper{
        .alert-head{
            margin: 0;
            text-align: center;
        }
        .alert-message{
            display: none;
        }
    }
}

page-contacto {
    ion-content{
        ion-card{
            position: absolute;
            top: 50%;
            margin-top: -100px !important;
            ion-card-header{
                text-align: center !important;
                color: #666 !important;
                font-size: 1.4rem  !important;
                b{
                    display: block;
                    padding: 15px 0 0 0;
                    color: color($colors, header);
                    font-size: 1.6rem;
                }
            }
            img{
                width: 100px;
                margin: 25px auto;
            }
        }
        .contenteLink a{
            text-transform: capitalize !important;
            color: #fff;
            text-align: center;
            background: color($colors, button);
            // background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…EiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
            // background: -moz-linear-gradient(top, color($colors, button) 0%, color($colors, buttonBg) 100%);
            // background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,color($colors, buttonBg)), color-stop(100%,#bd1e09));
            // background: -webkit-linear-gradient(top, color($colors, button) 0%,color($colors, buttonBg) 100%);
            // background: -o-linear-gradient(top, color($colors, button) 0%,color($colors, buttonBg) 100%);
            // background: -ms-linear-gradient(top, color($colors, button) 0%,color($colors, buttonBg) 100%);
            // background: linear-gradient(to bottom, color($colors, button) 0%,color($colors, buttonBg) 100%);
            border-radius: 4px;
            -webkit-border-radius: 4px;
            box-shadow: 0 0 2px rgba(0, 0, 0, 0.3) inset;
            -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.3) inset;
        }
        .cancel{
            color: color($colors, text);
            font-weight: bold;
            cursor: pointer;
            text-transform: capitalize !important;
        }
    }
}

page-historial{
    ion-content{
        h3{
            font-size: 1.8rem !important;
            text-align: right !important;
        }
        .item-md.item-block .item-inner{
            padding: 10px 5px !important;
            .label-md{
                margin: 0px !important;
                ion-grid{
                    padding: 0 !important;
                }
            }
        }
        ion-list-header{
            border-bottom: 1px solid #dedede;
        }
        .history{
            display: flex;
            flex-direction: column-reverse;
        }
    }
}
page-call-template {
    ion-content{
        ion-card{
            ion-card-header{
                text-align: center !important;
                color: #666 !important;
                font-size: 1.4rem  !important;
                b{
                    display: block;
                    padding: 15px 0 0 0;
                    color: color($colors, header);
                    font-size: 1.6rem;
                }
            }
        }
        .button-inner{
            font-size: 1.5rem;
            text-transform: capitalize !important;
            color: #fff;
            text-align: center;
            background: color($colors, button);
            // background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…EiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
            // background: -moz-linear-gradient(top, color($colors, button) 0%, color($colors, buttonBg) 100%);
            // background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,color($colors, buttonBg)), color-stop(100%,#bd1e09));
            // background: -webkit-linear-gradient(top, color($colors, button) 0%,color($colors, buttonBg) 100%);
            // background: -o-linear-gradient(top, color($colors, button) 0%,color($colors, buttonBg) 100%);
            // background: -ms-linear-gradient(top, color($colors, button) 0%,color($colors, buttonBg) 100%);
            // background: linear-gradient(to bottom, color($colors, button) 0%,color($colors, buttonBg) 100%);
            // border-radius: 4px;
            // -webkit-border-radius: 3px;
            // box-shadow: 0 0 2px rgba(0, 0, 0, 0.3) inset;
            // -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.3) inset;
        }
        .text-input-clear-icon{
            background: transparent !important;
        }
    }
}

// page-change-pass {
//     ion-header{
//         img{
//             max-width: 300px;
//             display: block;
//             margin: 0 auto;
//             width: 50%;
//             height: auto;
//         }
//     }
// }

page-convenios {
    .item-list-username-login-registro{
        p{
            text-align: center;
            padding: 15px 0;
        }
    }
}

page-convenios-map {
    #map {
        height: 100%;
    }
    .infoDataFilter{
        max-width: 300px;
        table{
            tr{
                td{
                    padding: 0 5px;
                    h2{
                        text-align: center;
                        margin: 5px !important;
                    }
                }
            }
        }
        a{
            text-align: center;
            display: block;
            padding: 10px 0;
            img{
                width: 50px !important;
            }
        }
    }
}
// page-create-user {
//     ion-header{
//         img{
//             max-width: 300px;
//             display: block;
//             margin: 0 auto;
//             width: 50%;
//             height: auto;
//         }
//     }
// }

page-doctor-dom {
    background: rgb(229, 227, 223);
    h4{
        color: color($colors, header);
        background: #ffffff;
        padding: 1.6rem 0 1rem 1rem;
        margin: 0;
    }
    ion-content{
        background: rgb(229, 227, 223);
        #map {
          width: 100%;
          height: 100%;
          transition: opacity 150ms ease-in;
          display: block;
          position: absolute !important;
        top: 0;
        left: 0;
        z-index: -1;
          &.show-map{
            opacity: 1;
          }
        }
      }

    agm-map{
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
    }
    ion-grid{
        ion-row{
            input{
                width: 100%;
                padding: 10px;
            }
            input[type=submit]{
                background: color($colors, iconColor);
                color: #fff;
                width: 100%;
                padding: 13px 10px;
                font-weight: bold;
                border: 0;
            }
            .clean{
                position: absolute;
                top: 0;
                right: 0;
                height: 100%;
                width: 35px;
                background: none;
                font-size: 1.5em;
                font-weight: bold;
                display: flex;
                color: #a2a1a1;
                justify-content: center;
                z-index: 9;
            }
        }
    }
    .solicid{
        position: absolute;
        bottom: 10px;
        width: 150px;
        left: 50%;
        margin-left: -75px;
        input[type=submit]{
            width: 100%;
            margin: 0 auto;
            display: block;
        }
    }
}

page-home {
    .tabs{
        background: color($colors, footer) !important;
        /*height: 15%;
        padding-top: 5px;*/
        ion-col{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            img{
                width: 25px;
            }
            p{
                color: #fff;
            }
        }
    }

    .tabLabel{
        color:#fff;
        font-weight:bold;
    }
}

page-infor-template {
    .text{
        padding: 0 10px;
        color: #666;
    }
}

// page-login {
//     ion-header{
//         img{
//             max-width: 300px;
//             display: block;
//             margin: 0 auto;
//             width: 50%;
//             height: auto;
//         }
//     }
// }

//page-menu-template {}
// page-reset-pass {
//     ion-header{
//         img{
//             max-width: 300px;
//             display: block;
//             margin: 0 auto;
//             width: 50%;
//             height: auto;
//         }
//     }
// }

page-seguimiento {
    ion-content{
        h4{
            position: absolute;
            z-index: 9;
            background: #ffffff;
            height: 50px;
            top: 0;
            margin: 0;
            width: 100%;
            padding: 1.5rem;
        }
        #map {
            height: 100%;
        }
        .refresh{
            position: absolute;
            z-index: 9;
            bottom: 15px;
            height: 50px;
            button{
                background: color($colors, button);
                color: #fff;
                width: 100%;
                padding: 10px;
                font-weight: bold;
                border: 0;
                max-width: 150px;
                margin: 0 auto;
                display: block;
                text-transform: capitalize;
            }
        }
        .time{
            position: absolute;
            bottom: 85px;
            background: #fff;
            font-weight: bold;
            padding: 15px 5px;
            ion-col{
                font-weight: bold;
            }
            .display{
                display: flex;
                align-content: center;
                align-items: center;
                img{
                    width: 20px;
                    display: inline-block;
                    margin-right: 5px;
                }
            }
        }
    }
}
page-list-prod{
    ion-content{
        ion-list{
            ion-item{
                h2.type-subType{
                    text-transform: capitalize;
                }
                .content-button{
                    text-align: right;
                    padding: 15px 0;
                    button{
                        text-transform: capitalize !important;
                        color: #000;
                        text-align: center;
                        background: color($colors, footer);
                        border-radius: 4px;
                        -webkit-border-radius: 3px;
                        box-shadow: 0 0 2px rgba(0, 0, 0, 0.3) inset;
                        -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.3) inset;
                    }
                    button:hover{
                        background: none !important;
                    }
                }
            }
        }
    }
}
page-productos{
    ion-content{
        ion-grid{
            padding: 0 !important;
            ion-item{
                padding: 0 5px !important;
            }
            ion-item:nth-child(even){
                background: #d5d5d5 !important
            }
            ion-col{
                padding: 0 !important;
            }
            ion-col.button-right{
                text-align: right !important;
                button{
                    padding:10px 15px;
                    text-transform: capitalize !important;
                    color: #000;
                    text-align: center;
                    background: color($colors, footer);
                    border-radius: 4px;
                    -webkit-border-radius: 3px;
                    box-shadow: 0 0 2px rgba(0, 0, 0, 0.3) inset;
                    -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.3) inset;
                }
                button:hover{
                    background: color($colors, secondary)!important;
                    color: #fff;
                }
            }
        }
    }
}
page-adquiere{
    form{
        display: none;
    }
    form.active{
        display: block;
    }
    a{
        text-align: center;
        display: block;
        text-decoration: none;
        font-size: 1.5rem;
        padding: 1rem 0;
        font-weight: 600;
    }
    .two{
        display: none;
        .form_insuredData{
            display: none
        }
        .form_insuredData.active{
            display: block;
        }
    }
    .two.active{
        display: block;
    }
}

page-modal-doc {
    h4{
        color: color($colors, header);
        background: #ffffff;
        padding: 1.6rem 0 1rem 1rem;
        margin: 0;
    }
    input[type=submit]{
        width: 150px;
        margin: 0 auto;
        display: block;
    }
}
page-list-product{
    .content-icon{
        display: block;
        text-align: center;
    }
}

.alert-md .alert-button-group{
    display: flex;
    justify-content: center;
    .alert-button.alert-button-md.alert-button-default.alert-button-default-md{
        background: color($colors, button);
        color: #ffffff;
        text-align: center !important;
    }
}
.alert-md .alert-message{
    color: color($colors, text) !important;
    text-align: center !important;
}
.alert-md .alert-head{
    /*background: url(/assets/icon/correct_icon-g.svg) no-repeat center;*/
margin: 10px 0 20px;
}
.alert-md .alert-title{
    font-size: 18px !important;
}
.alert-md .alert-sub-title{
    font-size: 14px;
}
.alert-title img{
    width: 50px;
    display: block;
    text-align: center;
    margin: 0 auto;
}
ion-footer{
    ion-toolbar{
        .toolbar-background {
            background: #d81e05 !important;
            color:#fff;
        }
        ion-title{
            .toolbar-title{
                color: #fff;
                text-align: center;
            }
        }
    }
}
.date-input{
    button{
        background: none !important;
        box-shadow: none !important;
        .button-inner{
            background: none !important;
            box-shadow: none !important;
        }
    }
}
.return{
    text-align: center;
    color: #d81e05;
    padding: 10px 0;
}
.txtFhNacimiento{
    display: none;
}

.validation-errors
{
    padding-left: 16px;
}