<ion-header no-border class="header">
    <button class="menu" (click)="func(data.back)">
        <img src="assets/icon/Arrow-Left.svg" alt="">
    </button>
    <ion-title>
        {{ data.title }}
    </ion-title>
    <img class="menu-close" src="assets/icon/menu_icon.svg" menuToggle/>
</ion-header>

<ion-content>
    <slide *ngIf="data.img" [images]="data.img"></slide>
    <h4 *ngIf="data.subTitle" class="title2">{{data.subTitle}}</h4>
    <ion-list class="padding">
        <ion-item *ngFor="let nav of menu" class="cursor" (click)="func(nav.click)" class="noPadding">
            <ion-grid>
                <ion-row>
                    <ion-col col-2>
                        <img class="menu-svg" src="assets/icon/{{ nav.icon }}.svg" alt="">
                    </ion-col>
                    <ion-col col-10>
                        <h2>
                            <b>{{ nav.title }}</b>
                        </h2>
                        <p [innerHTML]="nav.description">{{ nav.description }}</p>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-item>
    </ion-list>
</ion-content>