﻿/* ---------------------------------------------------------
	1. Icon fonts styles
	---------------------------------------------------------*/

@font-face {
	font-family: 'icofont';
	src: url('../assets/fonts/icofont.eot');
	src: url('../assets/fonts/icofont.eot?') 
		format('eot'), 
		url('../assets/fonts/icofont.ttf') format('truetype'), 
		url('../assets/fonts/icofont.woff') format('woff'), 
		url('../assets/fonts/icofont.svg#icofont') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^='icon-']:before,
[class*='icon-']:before,
.content-box a[href *= '.pdf']:before,
.content-box-advanced a[href *= '.pdf']:before,
.content-box a[href *= '.xls']:before,
.content-box-advanced a[href *= '.xls']:before {
	font-family: 'icofont' !important;
	font-style: normal !important;
	font-weight: normal !important;
	font-variant: normal !important;
	text-transform: none !important;
	speak: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

em[class^='icon-']:before,
em[class*='icon-']:before {
	color: #fff;
	font-size: 30px !important;
}

em[class^='icon-'],
em[class*='icon-'] {
	border-radius: 30px;
	-webkit-border-radius: 30px;
	background: #d81e05;
	display: flex;
	align-items: center;
	justify-content: center;
    width: 40px;
    height: 40px;
    margin: 0 auto;
}

a:hover em[class^='icon-'],
a:hover em[class*='icon-'] {
	background: #ac0404;
}

.icon-arrow:before,
.icon-arrow-down:before {
	content: '\e800';
}

.icon-arrow02:before,
.icon-arrow-up:before {
	content: '\e801';
}

.icon-arrow03:before {
	content: '\e802';
}

.icon-audio:before {
	content: '\e803';
}

.icon-calculator:before {
	content: '\e804';
}

.icon-car:before {
	content: '\e805';
}

.icon-car-service:before {
	content: '\e806';
}

.icon-card:before {
	content: '\e807';
}

.icon-checkmark:before {
	content: '\e808';
}

.icon-cloud:before {
	content: '\e809';
}

.icon-credit:before {
	content: '\e80a';
}

.icon-dividends:before {
	content: '\e80b';
}

.icon-dividends2:before {
	content: '\e80c';
}

.icon-dividends3:before {
	content: '\e83e';
}

.icon-dividends4:before {
	content: '\e841';
}

.icon-dividends5:before {
	content: '\e846';
}

.icon-doc:before {
	content: '\e80d';
}

.icon-download:before {
	content: '\e80e';
}

.icon-facebook:before {
	content: '\e80f';
}

.icon-foundation:before {
	content: '\e810';
}

.icon-global:before {
	content: '\e811';
}

.icon-global02:before {
	content: '\e812';
}

.icon-graph:before {
	content: '\e813';
}

.icon-graph02:before {
	content: '\e814';
}

.icon-graph03:before {
	content: '\e815';
}

.icon-handshake:before {
	content: '\e816';
}

.icon-health:before {
	content: '\e817';
}

.icon-heart:before {
	content: '\e818';
}

.icon-home:before {
	content: '\e819';
}

.icon-home02:before {
	content: '\e81a';
}

.icon-info:before {
	content: '\e81b';
}

.icon-journal:before {
	content: '\e81c';
}

.icon-linkedin:before {
	content: '\e81d';
}

.icon-list:before {
	content: '\e81e';
}

.icon-mapfre:before {
	content: '\e81f';
}

.icon-more:before {
	content: '\e820';
}

.icon-moto:before {
	content: '\e821';
}

.icon-net:before {
	content: '\e822';
}

.icon-newsroom:before {
	content: '\e823';
}

.icon-note:before {
	content: '\e824';
}

.icon-pet:before {
	content: '\e825';
}

.icon-piggy-bank:before {
	content: '\e826';
}

.icon-repeat:before {
	content: '\e827';
}

.icon-report:before {
	content: '\e828';
}

.icon-retransmissions:before {
	content: '\e829';
}

.icon-ribbon:before {
	content: '\e82a';
}

.icon-rss:before {
	content: '\e82b';
}

.icon-save:before {
	content: '\e82c';
}

.icon-scales:before {
	content: '\e82d';
}

.icon-scales02:before {
	content: '\e82e';
}

.icon-search:before {
	content: '\e82f';
}

.icon-service:before {
	content: '\e830';
}

.icon-silhouette:before {
	content: '\e831';
}

.icon-silhouette02:before {
	content: '\e832';
}
/*
.icon-smartphone:before { content: '\e833'; }
*/
.icon-tag:before {
	content: '\e834';
}

.icon-telephone:before {
	content: '\e835';
}

.icon-telephone02:before {
	content: '\e836';
}

.icon-twitter:before {
	content: '\e837';
}

.icon-unepfi:before {
	content: '\e838';
}

.icon-vehicles:before {
	content: '\e839';
}

.icon-voyage:before {
	content: '\e83a';
}

.icon-wireless:before {
	content: '\e83b';
}

.icon-youtube:before {
	content: '\e83c';
}

.icon-google:before {
	content: '\e83d';
}

.icon-mail:before {
	content: '\e83f';
}

.icon-instagram:before {
	content: '\e840';
}

.icon-access:before {
	content: '\e842';
}

.icon-retroarea:before {
	content: '\e843';
}

.icon-grantorarea:before {
	content: '\e844';
}

.icon-trebolmag:before {
	content: '\e845';
}

.icon-faq:before {
	content: '\e847';
}

.icon-contact-form:before {
	content: '\e848';
}

.icon-diverse:before {
	content: '\e849';
}

.icon-ship:before {
	content: '\e84a';
}

.icon-pinterest:before {
	content: '\e84b';
}

.icon-smartphone:before {
	content: '\e84c';
}

.icon-recommender:before {
	content: '\e84d';
}

.icon-spain:before {
	content: '\e84e';
}

.icon-retirement:before {
	content: '\e84f';
}

.icon-deceases:before {
	content: '\e850';
}

.icon-foundation2:before {
	content: '\e851';
}

.icon-history:before {
	content: '\e852';
}

.icon-arrow-commute:before {
	content: '\e853';
}

.icon-gmaps-location:before {
	content: '\e854';
}

.icon-gmaps-origin:before {
	content: '\e855';
}

.icon-self-employed:before {
	content: '\e856';
}

.icon-bicycle:before {
	content: '\e857';
}

.icon-insurance-quote:before {
	content: '\e858';
}

.icon-compare:before {
	content: '\e859';
}

.icon-contract:before {
	content: '\e85a';
}

.icon-legal-defense:before {
	content: '\e85b';
}

.icon-personal-accidents:before {
	content: '\e85c';
}

.icon-company-activities:before {
	content: '\e85d';
}

.icon-systems-administrator:before {
	content: '\e85e';
}

.icon-personal-advice:before {
	content: '\e85f';
}

.icon-road-assistance:before {
	content: '\e860';
}

.icon-blog:before {
	content: '\e861';
}

.icon-portfolio:before {
	content: '\e862';
}

.icon-car-service-center:before {
	content: '\e863';
}

.icon-veterinary-clinics:before {
	content: '\e864';
}

.icon-collaborators:before {
	content: '\e865';
}

.icon-contracts:before {
	content: '\e866';
}

.icon-medical-list:before {
	content: '\e867';
}

.icon-income-statements:before {
	content: '\e868';
}

.icon-dental:before {
	content: '\e869';
}

.icon-glass-etching:before {
	content: '\e86a';
}

.icon-guides:before {
	content: '\e86b';
}

.icon-annual-report:before {
	content: '\e86c';
}

.icon-reports:before {
	content: '\e86d';
}

.icon-business:before {
	content: '\e86e';
}

.icon-news:before {
	content: '\e86f';
}

.icon-other-options:before {
	content: '\e870';
}

.icon-payments-and-billing:before {
	content: '\e871';
}

.icon-for-you-and-your-employees:before {
	content: '\e872';
}

.icon-for-your-future:before {
	content: '\e873';
}

.icon-for-your-business:before {
	content: '\e874';
}

.icon-pmes:before {
	content: '\e875';
}

.icon-main-data:before {
	content: '\e876';
}

.icon-publishing:before {
	content: '\e877';
}

.icon-who-we-are:before {
	content: '\e878';
}

.icon-branch-network:before {
	content: '\e879';
}

.icon-car-renting:before {
	content: '\e87a';
}

.icon-accident:before {
	content: '\e87b';
}

.icon-free-call:before {
	content: '\e87c';
}

.icon-transaction:before {
	content: '\e87d';
}

.icon-car-articles:before {
	content: '\e87e';
}

.icon-mapfre-insurance-and-products:before {
	content: '\e87f';
}

.icon-accident-servicies:before {
	content: '\e880';
}

/* .icon-print:before { content: '\e881'; } */

.icon-company-customers-area:before {
	content: '\e882';
}

.icon-claims:before {
	content: '\e883';
}

.icon-company-care:before {
	content: '\e884';
}

.icon-tecuidamos:before {
	content: '\e885';
}

.icon-helps-hearing-impaired:before {
	content: '\e886';
}

.icon-private-access:before {
	content: '\e887';
}

.icon-promotion:before {
	content: '\e888';
}

.icon-big-risks-solutions:before {
	content: '\e900';
}

.icon-universitary-fund:before {
	content: '\e901';
}

.icon-soat:before {
	content: '\e902';
}

.icon-megaphone:before {
	content: '\e903';
}

.icon-close:before {
	content: "\e904";
}

.icon-arrow-right:before {
	content: "\e905";
}

.icon-arrow-left:before {
	content: "\e906";
}

.icon-double-arrow-right:before {
	content: "\e907";
}

.icon-gestion-patrimonial:before {
	content: "\e908";
}

.icon-wine:before {
	content: "\e909";
}


.icon-arrow:hover:before,
.hover .icon-arrow:before,
li.ui-global-focus .icon-arrow:before,
.icon-arrow-down:hover:before,
.hover .icon-arrow-down:before,
li.ui-global-focus .icon-arrow-down:before {
	content: '\e800 ';
}

.icon-arrow02:hover:before,
.hover .icon-arrow02:before,
li.ui-global-focus .icon-arrow02:before,
.icon-arrow-up:hover:before,
.hover .icon-arrow-up:before,
li.ui-global-focus .icon-arrow-up:before {
	content: '\e801 ';
}

.icon-arrow03:hover:before,
.hover .icon-arrow03:before,
li.ui-global-focus .icon-arrow03:before {
	content: '\e802 ';
}

.icon-audio:hover:before,
.hover .icon-audio:before,
li.ui-global-focus .icon-audio:before {
	content: '\e803 ';
}

.icon-calculator:hover:before,
.hover .icon-calculator:before,
li.ui-global-focus .icon-calculator:before {
	content: '\e804 ';
}

.icon-car:hover:before,
.hover .icon-car:before,
li.ui-global-focus .icon-car:before {
	content: '\e805 ';
}

.icon-car-service:hover:before,
.hover .icon-car-service:before,
li.ui-global-focus .icon-car-service:before {
	content: '\e806 ';
}

.icon-card:hover:before,
.hover .icon-card:before,
li.ui-global-focus .icon-card:before {
	content: '\e807 ';
}

.icon-checkmark:hover:before,
.hover .icon-checkmark:before,
li.ui-global-focus .icon-checkmark:before {
	content: '\e808 ';
}

.icon-cloud:hover:before,
.hover .icon-cloud:before,
li.ui-global-focus .icon-cloud:before {
	content: '\e809 ';
}

.icon-credit:hover:before,
.hover .icon-credit:before,
li.ui-global-focus .icon-credit:before {
	content: '\e80a ';
}

.icon-dividends:hover:before,
.hover .icon-dividends:before,
li.ui-global-focus .icon-dividends:before {
	content: '\e80b ';
}

.icon-dividends2:hover:before,
.hover .icon-dividends2:before,
li.ui-global-focus .icon-dividends2:before {
	content: '\e80c ';
}

.icon-dividends3:hover:before,
.hover .icon-dividends3:before,
li.ui-global-focus .icon-dividends3:before {
	content: '\e83e ';
}

.icon-dividends4:hover:before,
.hover .icon-dividends4:before,
li.ui-global-focus .icon-dividends4:before {
	content: '\e841 ';
}

.icon-dividends5:hover:before,
.hover .icon-dividends5:before,
li.ui-global-focus .icon-dividends5:before {
	content: '\e846 ';
}

.icon-doc:hover:before,
.hover .icon-doc:before,
li.ui-global-focus .icon-doc:before {
	content: '\e80d ';
}

.icon-download:hover:before,
.hover .icon-download:before,
li.ui-global-focus .icon-download:before {
	content: '\e80e ';
}

.icon-facebook:hover:before,
.hover .icon-facebook:before,
li.ui-global-focus .icon-facebook:before {
	content: '\e80f ';
}

.icon-foundation:hover:before,
.hover .icon-foundation:before,
li.ui-global-focus .icon-foundation:before {
	content: '\e810 ';
}

.icon-global:hover:before,
.hover .icon-global:before,
li.ui-global-focus .icon-global:before {
	content: '\e811 ';
}

.icon-global02:hover:before,
.hover .icon-global02:before,
li.ui-global-focus .icon-global02:before {
	content: '\e812 ';
}

.icon-graph:hover:before,
.hover .icon-graph:before,
li.ui-global-focus .icon-graph:before {
	content: '\e813 ';
}

.icon-graph02:hover:before,
.hover .icon-graph02:before,
li.ui-global-focus .icon-graph02:before {
	content: '\e814 ';
}

.icon-graph03:hover:before,
.hover .icon-graph03:before,
li.ui-global-focus .icon-graph03:before {
	content: '\e815 ';
}

.icon-handshake:hover:before,
.hover .icon-handshake:before,
li.ui-global-focus .icon-handshake:before {
	content: '\e816 ';
}

.icon-health:hover:before,
.hover .icon-health:before,
li.ui-global-focus .icon-health:before {
	content: '\e817 ';
}

.icon-heart:hover:before,
.hover .icon-heart:before,
li.ui-global-focus .icon-heart:before {
	content: '\e818 ';
}

.icon-home:hover:before,
.hover .icon-home:before,
li.ui-global-focus .icon-home:before {
	content: '\e819 ';
}

.icon-home02:hover:before,
.hover .icon-home02:before,
li.ui-global-focus .icon-home02:before {
	content: '\e81a ';
}

.icon-info:hover:before,
.hover .icon-info:before,
li.ui-global-focus .icon-info:before {
	content: '\e81b ';
}

.icon-journal:hover:before,
.hover .icon-journal:before,
li.ui-global-focus .icon-journal:before {
	content: '\e81c ';
}

.icon-linkedin:hover:before,
.hover .icon-linkedin:before,
li.ui-global-focus .icon-linkedin:before {
	content: '\e81d ';
}

.icon-list:hover:before,
.hover .icon-list:before,
li.ui-global-focus .icon-list:before {
	content: '\e81e ';
}

.icon-mapfre:hover:before,
.hover .icon-mapfre:before,
li.ui-global-focus .icon-mapfre:before {
	content: '\e81f ';
}

.icon-more:hover:before,
.hover .icon-more:before,
li.ui-global-focus .icon-more:before {
	content: '\e820 ';
}

.icon-moto:hover:before,
.hover .icon-moto:before,
li.ui-global-focus .icon-moto:before {
	content: '\e821 ';
}

.icon-net:hover:before,
.hover .icon-net:before,
li.ui-global-focus .icon-net:before {
	content: '\e822 ';
}

.icon-newsroom:hover:before,
.hover .icon-newsroom:before,
li.ui-global-focus .icon-newsroom:before {
	content: '\e823 ';
}

.icon-note:hover:before,
.hover .icon-note:before,
li.ui-global-focus .icon-note:before {
	content: '\e824 ';
}

.icon-pet:hover:before,
.hover .icon-pet:before,
li.ui-global-focus .icon-pet:before {
	content: '\e825 ';
}

.icon-piggy-bank:hover:before,
.hover .icon-piggy-bank:before,
li.ui-global-focus .icon-piggy-bank:before {
	content: '\e826 ';
}

.icon-repeat:hover:before,
.hover .icon-repeat:before,
li.ui-global-focus .icon-repeat:before {
	content: '\e827 ';
}

.icon-report:hover:before,
.hover .icon-report:before,
li.ui-global-focus .icon-report:before {
	content: '\e828 ';
}

.icon-retransmissions:hover:before,
.hover .icon-retransmissions:before,
li.ui-global-focus .icon-retransmissions:before {
	content: '\e829 ';
}

.icon-ribbon:hover:before,
.hover .icon-ribbon:before,
li.ui-global-focus .icon-ribbon:before {
	content: '\e82a ';
}

.icon-rss:hover:before,
.hover .icon-rss:before,
li.ui-global-focus .icon-rss:before {
	content: '\e82b ';
}

.icon-save:hover:before,
.hover .icon-save:before,
li.ui-global-focus .icon-save:before {
	content: '\e82c ';
}

.icon-scales:hover:before,
.hover .icon-scales:before,
li.ui-global-focus .icon-scales:before {
	content: '\e82d ';
}

.icon-scales02:hover:before,
.hover .icon-scales02:before,
li.ui-global-focus .icon-scales02:before {
	content: '\e82e ';
}

.icon-search:hover:before,
.hover .icon-search:before,
li.ui-global-focus .icon-search:before {
	content: '\e82f ';
}

.icon-service:hover:before,
.hover .icon-service:before,
li.ui-global-focus .icon-service:before {
	content: '\e830 ';
}

.icon-silhouette:hover:before,
.hover .icon-silhouette:before,
li.ui-global-focus .icon-silhouette:before {
	content: '\e831 ';
}

.icon-silhouette02:hover:before,
.hover .icon-silhouette02:before,
li.ui-global-focus .icon-silhouette02:before {
	content: '\e832 ';
}
/*
.icon-smartphone:hover:before,
.hover .icon-smartphone:before,
li.ui-global-focus .icon-smartphone:before { content: '\e833 '; }
*/
.icon-tag:hover:before,
.hover .icon-tag:before,
li.ui-global-focus .icon-tag:before {
	content: '\e834 ';
}

.icon-telephone:hover:before,
.hover .icon-telephone:before,
li.ui-global-focus .icon-telephone:before {
	content: '\e835 ';
}

.icon-telephone02:hover:before,
.hover .icon-telephone02:before,
li.ui-global-focus .icon-telephone02:before {
	content: '\e836 ';
}

.icon-twitter:hover:before,
.hover .icon-twitter:before,
li.ui-global-focus .icon-twitter:before {
	content: '\e837 ';
}

.icon-unepfi:hover:before,
.hover .icon-unepfi:before,
li.ui-global-focus .icon-unepfi:before {
	content: '\e838 ';
}

.icon-vehicles:hover:before,
.hover .icon-vehicles:before,
li.ui-global-focus .icon-vehicles:before {
	content: '\e839 ';
}

.icon-voyage:hover:before,
.hover .icon-voyage:before,
li.ui-global-focus .icon-voyage:before {
	content: '\e83a ';
}

.icon-wireless:hover:before,
.hover .icon-wireless:before,
li.ui-global-focus .icon-wireless:before {
	content: '\e83b ';
}

.icon-youtube:hover:before,
.hover .icon-youtube:before,
li.ui-global-focus .icon-youtube:before {
	content: '\e83c ';
}

.icon-google:hover:before,
.hover .icon-google:before,
li.ui-global-focus .icon-google:before {
	content: '\e83d';
}

.icon-mail:hover:before,
.hover .icon-mail:before,
li.ui-global-focus .icon-mail:before {
	content: '\e83f';
}

.icon-instagram:hover:before,
.hover .icon-instagram:before,
li.ui-global-focus .icon-instagram:before {
	content: '\e840';
}

.icon-access:hover:before,
.hover .icon-access:before,
li.ui-global-focus .icon-access:before {
	content: '\e842';
}

.icon-retroarea:hover:before,
.hover .icon-retroarea:before,
li.ui-global-focus .icon-retroarea:before {
	content: '\e843';
}

.icon-grantorarea:hover:before,
.hover .icon-grantorarea:before,
li.ui-global-focus .icon-grantorarea:before {
	content: '\e844';
}

.icon-trebolmag:hover:before,
.hover .icon-trebolmag:before,
li.ui-global-focus .icon-trebolmag:before {
	content: '\e845';
}

.icon-faq:hover:before,
.hover .icon-faq:before,
li.ui-global-focus .icon-faq:before {
	content: '\e847';
}

.icon-contact-form:hover:before,
.hover .icon-contact-form:before,
li.ui-global-focus .icon-contact-form:before {
	content: '\e848';
}

.icon-diverse:hover:before,
.hover .icon-diverse:before,
li.ui-global-focus .icon-diverse:before {
	content: '\e849';
}

.icon-ship:hover:before,
.hover .icon-ship:before,
li.ui-global-focus .icon-ship:before {
	content: '\e84a';
}

.icon-pinterest:hover:before,
.hover .icon-pinterest:before,
li.ui-global-focus .icon-pinterest:before {
	content: '\e84b';
}

.icon-smartphone:hover:before,
.hover .icon-smartphone:before,
li.ui-global-focus .icon-smartphone:before {
	content: '\e84c';
}

.icon-recommender:hover:before,
.hover .icon-recommender:before,
li.ui-global-focus .icon-recommender:before {
	content: '\e84d';
}

.icon-spain:hover:before,
.hover .icon-spain:before,
li.ui-global-focus .icon-spain:before {
	content: '\e84e';
}

.icon-retirement:hover:before,
.hover .icon-retirement:before,
li.ui-global-focus .icon-retirement:before {
	content: '\e84f';
}

.icon-deceases:hover:before,
.hover .icon-deceases:before,
li.ui-global-focus .icon-deceases:before {
	content: '\e850';
}

.icon-foundation2:hover:before,
.hover .icon-foundation2:before,
li.ui-global-focus .icon-foundation2:before {
	content: '\e851';
}

.icon-history:hover:before,
.hover .icon-history:before,
li.ui-global-focus .icon-history:before {
	content: '\e852';
}

.icon-arrow-commute:hover:before,
.hover .icon-arrow-commute:before,
li.ui-global-focus .icon-arrow-commute:before {
	content: '\e853';
}

.icon-gmaps-location:hover:before,
.hover .icon-gmaps-location:before,
li.ui-global-focus .icon-gmaps-location:before {
	content: '\e854';
}

.icon-gmaps-origin:hover:before,
.hover .icon-gmaps-origin:before,
li.ui-global-focus .icon-gmaps-origin:before {
	content: '\e855';
}

.icon-self-employed:hover:before,
.hover .icon-self-employed:before,
li.ui-global-focus .icon-self-employed:before {
	content: '\e856';
}

.icon-bicycle:hover:before,
.hover .icon-bicycle:before,
li.ui-global-focus .icon-bicycle:before {
	content: '\e857';
}

.icon-insurance-quote:hover:before,
.hover .icon-insurance-quote:before,
li.ui-global-focus .icon-insurance-quote:before {
	content: '\e858';
}

.icon-compare:hover:before,
.hover .icon-compare:before,
li.ui-global-focus .icon-compare:before {
	content: '\e859';
}

.icon-contract:hover:before,
.hover .icon-contract:before,
li.ui-global-focus .icon-contract:before {
	content: '\e85a';
}

.icon-legal-defense:hover:before,
.hover .icon-legal-defense:before,
li.ui-global-focus .icon-legal-defense:before {
	content: '\e85b';
}

.icon-personal-accidents:hover:before,
.hover .icon-personal-accidents:before,
li.ui-global-focus .icon-personal-accidents:before {
	content: '\e85c';
}

.icon-company-activities:hover:before,
.hover .icon-company-activities:before,
li.ui-global-focus .icon-company-activities:before {
	content: '\e85d';
}

.icon-systems-administrator:hover:before,
.hover .icon-systems-administrator:before,
li.ui-global-focus .icon-systems-administrator:before {
	content: '\e85e';
}

.icon-personal-advice:hover:before,
.hover .icon-personal-advice:before,
li.ui-global-focus .icon-personal-advice:before {
	content: '\e85f';
}

.icon-road-assistance:hover:before,
.hover .icon-road-assistance:before,
li.ui-global-focus .icon-road-assistance:before {
	content: '\e860';
}

.icon-blog:hover:before,
.hover .icon-blog:before,
li.ui-global-focus .icon-blog:before {
	content: '\e861';
}

.icon-portfolio:hover:before,
.hover .icon-portfolio:before,
li.ui-global-focus .icon-portfolio:before {
	content: '\e862';
}

.icon-car-service-center:hover:before,
.hover .icon-car-service-center:before,
li.ui-global-focus .icon-car-service-center:before {
	content: '\e863';
}

.icon-veterinary-clinics:hover:before,
.hover .icon-veterinary-clinics:before,
li.ui-global-focus .icon-veterinary-clinics:before {
	content: '\e864';
}

.icon-collaborators:hover:before,
.hover .icon-collaborators:before,
li.ui-global-focus .icon-collaborators:before {
	content: '\e865';
}

.icon-contracts:hover:before,
.hover .icon-contracts:before,
li.ui-global-focus .icon-contracts:before {
	content: '\e866';
}

.icon-medical-list:hover:before,
.hover .icon-medical-list:before,
li.ui-global-focus .icon-medical-list:before {
	content: '\e867';
}

.icon-income-statements:hover:before,
.hover .icon-income-statements:before,
li.ui-global-focus .icon-income-statements:before {
	content: '\e868';
}

.icon-dental:hover:before,
.hover .icon-dental:before,
li.ui-global-focus .icon-dental:before {
	content: '\e869';
}

.icon-glass-etching:hover:before,
.hover .icon-glass-etching:before,
li.ui-global-focus .icon-glass-etching:before {
	content: '\e86a';
}

.icon-guides:hover:before,
.hover .icon-guides:before,
li.ui-global-focus .icon-guides:before {
	content: '\e86b';
}

.icon-annual-report:hover:before,
.hover .icon-annual-report:before,
li.ui-global-focus .icon-annual-report:before {
	content: '\e86c';
}

.icon-reports:hover:before,
.hover .icon-reports:before,
li.ui-global-focus .icon-reports:before {
	content: '\e86d';
}

.icon-business:hover:before,
.hover .icon-business:before,
li.ui-global-focus .icon-business:before {
	content: '\e86e';
}

.icon-news:hover:before,
.hover .icon-news:before,
li.ui-global-focus .icon-news:before {
	content: '\e86f';
}

.icon-other-options:hover:before,
.hover .icon-other-options:before,
li.ui-global-focus .icon-other-options:before {
	content: '\e870';
}

.icon-payments-and-billing:hover:before,
.hover .icon-payments-and-billing:before,
li.ui-global-focus .icon-payments-and-billing:before {
	content: '\e871';
}

.icon-for-you-and-your-employees:hover:before,
.hover .icon-for-you-and-your-employees:before,
li.ui-global-focus .icon-for-you-and-your-employees:before {
	content: '\e872';
}

.icon-for-your-future:hover:before,
.hover .icon-for-your-future:before,
li.ui-global-focus .icon-for-your-future:before {
	content: '\e873';
}

.icon-for-your-business:hover:before,
.hover .icon-for-your-business:before,
li.ui-global-focus .icon-for-your-business:before {
	content: '\e874';
}

.icon-pmes:hover:before,
.hover .icon-pmes:before,
li.ui-global-focus .icon-pmes:before {
	content: '\e875';
}

.icon-main-data:hover:before,
.hover .icon-main-data:before,
li.ui-global-focus .icon-main-data:before {
	content: '\e876';
}

.icon-publishing:hover:before,
.hover .icon-publishing:before,
li.ui-global-focus .icon-publishing:before {
	content: '\e877';
}

.icon-who-we-are:hover:before,
.hover .icon-who-we-are:before,
li.ui-global-focus .icon-who-we-are:before {
	content: '\e878';
}

.icon-branch-network:hover:before,
.hover .icon-branch-network:before,
li.ui-global-focus .icon-branch-network:before {
	content: '\e879';
}

.icon-car-renting:hover:before,
.hover .icon-car-renting:before,
li.ui-global-focus .icon-car-renting:before {
	content: '\e87a';
}

.icon-accident:hover:before,
.hover .icon-accident:before,
li.ui-global-focus .icon-accident:before {
	content: '\e87b';
}

.icon-free-call:hover:before,
.hover .icon-free-call:before,
li.ui-global-focus .icon-free-call:before {
	content: '\e87c';
}

.icon-transaction:hover:before,
.hover .icon-transaction:before,
li.ui-global-focus .icon-transaction:before {
	content: '\e87d';
}

.icon-car-articles:hover:before,
.hover .icon-car-articles:before,
li.ui-global-focus .icon-car-articles:before {
	content: '\e87e';
}

.icon-mapfre-insurance-and-products:hover:before,
.hover .icon-mapfre-insurance-and-products:before,
li.ui-global-focus .icon-mapfre-insurance-and-products:before {
	content: '\e87f';
}

.icon-accident-servicies:hover:before,
.hover .icon-accident-servicies:before li.ui-global-focus .icon-accident-servicies:before {
	content: '\e880';
}
/*
.icon-print:hover:before,
.hover .icon-print:before
li.ui-global-focus .icon-print:before { content: '\e881'; }
*/

.icon-company-customers-area:hover:before,
.hover .icon-company-customers-area:before li.ui-global-focus .icon-company-customers-area:before {
	content: '\e882';
}

.icon-claims:hover:before,
.hover .icon-claims:before li.ui-global-focus .icon-claims:before {
	content: '\e883';
}

.icon-company-care:hover:before,
.hover .icon-company-care:before li.ui-global-focus .icon-company-care:before {
	content: '\e884';
}

.icon-tecuidamos:hover:before,
.hover .icon-tecuidamos:before li.ui-global-focus .icon-tecuidamos:before {
	content: '\e885';
}

.icon-helps-hearing-impaired:hover:before,
.hover .icon-helps-hearing-impaired:before li.ui-global-focus .icon-helps-hearing-impaired:before {
	content: '\e886';
}

.icon-private-access:hover:before,
.hover .icon-private-access:before li.ui-global-focus .icon-private-access:before {
	content: '\e887';
}

.icon-promotion:hover:before,
.hover .icon-promotion:before li.ui-global-focus .icon-promotion:before {
	content: '\e888';
}

.icon-big-risks-solutions:hover:before,
.hover .icon-big-risks-solutions:before li.ui-global-focus .icon-big-risks-solutions:before {
	content: '\e900';
}

.icon-universitary-fund:hover:before,
.hover .icon-universitary-fund:before li.ui-global-focus .icon-universitary-fund:before {
	content: '\e901';
}

.icon-soat:hover:before,
.hover .icon-soat:before li.ui-global-focus .icon-soat:before {
	content: '\e902';
}

.icon-megaphone:hover:before,
.hover .icon-megaphone:before li.ui-global-focus .icon-megaphone:before {
	content: '\e903';
}

.icon-search:before,
.icon-arrow:before {
	color: #d81e05;
}

.icon-search:hover:before,
.icon-arrow:hover:before {
	color: #ac0404;
}

.social-networks-links .icon-youtube:before,
.social-networks-links .icon-facebook:before,
.social-networks-links .icon-twitter:before,
.social-networks-links .icon-google:before,
.social-networks-links .icon-linkedin:before,
.social-networks-links .icon-mail:before,
.social-networks-links .icon-instagram:before,
.social-networks-links .icon-pinterest:before,
.social-networks-links .icon-smartphone:before,
.social-networks-links .icon-blog:before {
	color: #fff;
}

.social-networks-links .icon-youtube:hover:before,
.social-networks-links .icon-facebook:hover:before,
.social-networks-links .icon-twitter:hover:before,
.social-networks-links .icon-google:hover:before,
.social-networks-links .icon-linkedin:hover:before,
.social-networks-links .icon-mail:hover:before,
.social-networks-links .icon-instagram:hover:before,
.social-networks-links .icon-pinterest:hover:before,
.social-networks-links .icon-smartphone:hover:before,
.social-networks-links .icon-blog:hover:before {
	color: #ffc6b6;
}
