// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
//$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/


// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #488aff,
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222,

  bbva:     #072146,
  client:     #072146,
  header:     #072146,
  footer:     #0964B7,
  titleH2:    #043263,
  links:      #488aff,
  title:      #2A86CA,
  text:       #999,
  button:     #488aff,
  buttonBg:   #488aff,
  iconColor:  #1464a5
);

// $colors: (
//   primary:    #c31f09,
//   secondary:  #32db64,
//   danger:     #f53d3d,
//   light:      #f4f4f4,
//   dark:       #222,

//   client:     #c31f09,
//   header:     #c31f09,
//   footer:     #e2e4e5,
//   titleH2:    #d81e05,
//   links:      #007bff,
//   title:      #c31f09,
//   text:       #4c4c4c,
//   button:     #d81e05,
//   buttonBg:   #bd1e09,
//   iconColor:  #c31f09
// );
 
$spinkit-spinner-margin: 40px auto !default;
$spinkit-size: 40px !default;
$spinkit-spinner-color: #f4f4f4 !default;



// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import url('https://fonts.googleapis.com/css?family=Roboto');
@import "noto-sans";

// Import Seguros custom theme
// --------------------------------------------------

@import "seguros.scss";

// Import icon font-awesome
// --------------------------------------------------

$fa-font-path: $font-path;
@import "font-awesome";

// Import fonts 
// --------------------------------------------------

@import "fonts.scss";
