<ion-header no-border class="header">
    <button class="menu" (click)="func(data.back)">
        <img src="assets/icon/Arrow-Left.svg" alt="">
    </button>
    <ion-title>
        {{ data.title }}
    </ion-title>
    <img class="menu-close" src="assets/icon/menu_icon.svg" menuToggle />
</ion-header>

<ion-content padding>
    <ion-list>
        <ion-item class="cursor" class="noPadding">
            <h1>{{ infor.ds }}</h1>
            <h2 class="type-subType">{{ infor.type }} - {{ infor.subType }}</h2>
            <ion-grid>
                <ion-row>
                    <ion-col>
                        <p *ngIf="infor.tipoTarificacion == 'M' ">Mensual</p>
                    </ion-col>
                    <ion-col class="button-right">
                        <button>Adquirir</button>
                    </ion-col>
                </ion-row>
            </ion-grid>
            <p>{{ infor.description }}</p>
            <ion-grid class="content-buttons" *ngIf="infor.conGenerales > 0">
                <ion-row>
                    <ion-col>
                        <button (click)="conGen(infor.conGenerales, infor.cd)">Condiciones generales</button>
                    </ion-col>
                    <ion-col>
                        <button>Condiciones Especificas</button>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-item>
    </ion-list>
    <ion-list>
        <ion-item class="cursor" class="noPadding">
            <ion-grid>
                <ion-row>
                    <ion-col col-10>
                        Cobertura
                    </ion-col>
                    <ion-col col-2>
                        Limite
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-item>
        <ion-grid>
            <ion-item *ngFor="let t of table">
                <ion-row>
                    <ion-col col-10>
                        {{ t.sparePart}}
                    </ion-col>
                    <ion-col col-2>
                        {{ t.idRegPartLimit}}
                    </ion-col>
                </ion-row>
            </ion-item>
        </ion-grid>
    </ion-list>
</ion-content>