<ion-menu side="right" [content]="content">
    <ion-header>
        <ion-toolbar>
            <ion-title class="menu-principal">
                <img class="" src="assets/icon/menu_icon.svg" menuClose />
            </ion-title>
        </ion-toolbar>
    </ion-header>

    <ion-content>
        <ion-list>
            <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)" class="lateral">
                <div *ngIf="p.name != 'ios' ">
                    <img src="{{ p.icon}}" alt="">
                    {{p.title}}
                </div>
                <div *ngIf="p.name == 'ios' " showWhen="ios">
                    <img src="{{ p.icon}}" alt="">
                    {{p.title}}
                </div>
            </button>
        </ion-list>
    </ion-content>

</ion-menu>
<ion-nav [root]="rootPage" #content></ion-nav>