// http://ionicframework.com/docs/v2/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

// ion-content.content-md,
// ion-content.content-ios {
//   // background-color: $fmm-white1;
// }
.button-inner{
    img{
        width: 30px;
    }
}
ion-menu{
    .content-md{
        background:color($colors, header);
    }
    ion-header{
        ion-toolbar{
            .toolbar-background{
                background: color($colors, header);
            }
            .toolbar-content{
                ion-title{
                    .toolbar-title{
                        color: #fff;
                        text-align: right;
                    }
                }
                .menu-principal{
                    padding: 0 15px 0;
                    img{
                        width: 30px;
                    }
                }
            }
        }
    }
    ion-content{
        div.scroll-content{
            margin-top: 56px !important;
            background: color($colors, header);
            ion-list{
                button{
                    background:color($colors, header);
                    ion-icon{
                        color: #fff !important;
                    }
                    .item-inner{
                        border:none !important;
                        ion-label{
                            color: #fff !important;
                        }
                    }
                }
            }
        }
        
    }
}

#splash-screen {
    opacity: 1;
    transition: opacity 0.2s;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
    background: color($colors, client);
    flex-direction: column;
    flex-wrap: wrap;
}

.sk-fading-header{
    margin: $spinkit-spinner-margin;
    //width: 50%;
    //position: static;
}

.sk-fading-pie{
    margin: $spinkit-spinner-margin;
    width: 100%;
    bottom: 0;
}

.sk-circle-header
{
    margin: $spinkit-spinner-margin;
    width: 100%;
    height: 120px;
    text-align: center;
}

.sk-circle-header img
{
    max-width: 100%;
    width: 70%;
    border: 0;
}

.sk-circle-footer
{
    margin: $spinkit-spinner-margin;
    color:#fff;
    font-size: 2rem !important;
    text-align: center;
    width: 100%;
    height: 120px;
}

/*.sk-profile-link {
    height: 60px;
}*/

.sk-profile-link a {
    color: #fff;
    text-decoration: none;
    font-size: 11px;
}

.sk-fading-circle {
    $circleCount: 12;
    $animationDuration: 1.5s;
  
    margin: auto;
    width: $spinkit-size;
    height: $spinkit-size;
    position: relative;
  
    .sk-circle {
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
    }
  
    .sk-circle:before {
      content: '';
      display: block;
      margin: 0 auto;
      width: 15%;
      height: 15%;
      background-color: $spinkit-spinner-color;
      border-radius: 100%;
      animation: sk-circleFadeDelay $animationDuration infinite ease-in-out both;
    }
  
    @for $i from 2 through $circleCount {
      .sk-circle#{$i} { transform: rotate(360deg / $circleCount * ($i - 1)); }
    }
  
    @for $i from 2 through $circleCount {
      .sk-circle#{$i}:before { animation-delay: - $animationDuration + $animationDuration / $circleCount * ($i - 1); }
    }
}
  
@keyframes sk-circleFadeDelay {
    0%, 39%, 100% { opacity: 0 }
    40% { opacity: 1 }
}
  
#snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
}

#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s;
    animation: fadein 0.5s;
}

@-webkit-keyframes fadein {
    from {
    bottom: 0;
    opacity: 0;
    }
    to {
    bottom: 30px;
    opacity: 1;
    }
}

@keyframes fadein {
    from {
    bottom: 0;
    opacity: 0;
    }
    to {
    bottom: 30px;
    opacity: 1;
    }
}