<ion-header>
    <img src="{{ logo }}" />
</ion-header>
<ion-content>
    <loading *ngIf="loading"></loading>
    <slide [images]="data.img"></slide>
    <form [formGroup]="ChangeForm" (ngSubmit)="changePass()">
        <ion-list class="list-login">
            <ion-item class="item-list-username-login-registro">
                <ion-label floating for="newPass">
                    Nueva contraseña
                </ion-label>
                <ion-input type="password" formControlName="newPass" clearInput></ion-input>
            </ion-item>

            <div class="validation-errors" *ngIf="ChangeForm.get('newPass').touched">
                <ng-container *ngFor="let validation of validation_messages.newPass" >
                    <div *ngIf="ChangeForm.get('newPass').hasError(validation.type)">
                        <p>{{validation.message}}</p>
                    </div>
                </ng-container>
            </div>

            <ion-item class="item-list-username-login-registro">
                <ion-label floating for="confirmPass">
                    Confirmar Contraseña
                </ion-label>
                <ion-input type="password" formControlName="confirmPass" clearInput></ion-input>
            </ion-item>

            <div class="validation-errors" *ngIf="ChangeForm.get('confirmPass').touched">
                <ng-container *ngFor="let validation of validation_messages.confirmPass" >
                    <div *ngIf="ChangeForm.get('confirmPass').hasError(validation.type)">
                        <p>{{validation.message}}</p>
                    </div>
                </ng-container>
            </div>
            
            <ion-item class="item-list-username-login-registro">
                <ion-label color="text">Acepto términos y condiciones</ion-label>
                <ion-checkbox formControlName="termsAccepted" color="button" checked="false" (ionChange)="onTermsChecked($event)"></ion-checkbox>
            </ion-item>
        </ion-list>
        <div style="text-align: center">
            <a class="cursorClass" (click)="terms()">términos y condicione</a>
        </div>
        <div class="contenteLink">
            <button ion-button type="submit" [disabled]="!ChangeForm.valid">Actualizar</button>
        </div>
    </form>
</ion-content>