<ion-header>
    <img src="{{ logo }}" />
</ion-header>
<ion-content>
    <loading *ngIf="loading"></loading>
    <slide [images]="data.img"></slide>
    <form [formGroup]="resetPassword">
        <ion-list class="list-login">
            <ion-item class="item-list-username-login-registro">
                <ion-label floating for="usuario">
                    N° de Documento
                </ion-label>
                <ion-input type="number" formControlName="usuario" autocomplete="off" clearInput></ion-input>
            </ion-item>
            <ion-item class="item-list-username-login-registro">
                <ion-label floating for="email">
                    email
                </ion-label>
                <ion-input type="text" formControlName="email" autocomplete="off" clearInput></ion-input>
            </ion-item>
        </ion-list>
        <div class="contenteLink">
            <button ion-button type="submit" [disabled]="!resetPassword.valid" (click)="reset()">{{ data.buttonSend }}</button>
            <button ion-button type="button" (click)="cancel()">{{ data.buttonCancel }}</button>
        </div>
    </form>
</ion-content>