.loading{
    background: rgba(9,100,183, 0.4);
    position: absolute;
    width: 300%;
    height: 300%;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    z-index: 9;
}
img.loadingImg{
    width: 50px;
    animation: spin 2s linear infinite;
    position: absolute;
    left: 50%;
    margin-left: -25px;
    top: 50%;
    margin-top: -25px;
    z-index: 9999;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}