<ion-header no-border class="header">
	<button class="menu" (click)="func(data.back)">
		<img src="assets/icon/Arrow-Left.svg" alt="">
	</button>
	<ion-title>
		{{ data.title }}
	</ion-title>
	<img class="menu-close" src="assets/icon/menu_icon.svg" menuToggle/>
</ion-header>

<ion-content>
	<form>
		<ion-list class="list-login">
			<ion-item class="item-list-username-login-registro">
				<ion-label floating for="department">
					Departamento
				</ion-label>
				<ion-select [(ngModel)]="department" name="department" (ionChange)="changeDepartment()">
					<ion-option *ngFor=" let dl of departLists " [value]="dl.cities"> {{ dl.name }} </ion-option>
				</ion-select>
			</ion-item>

			<ion-item class="item-list-username-login-registro" *ngIf="viewCity">
				<ion-label floating for="city">
					Ciudad
				</ion-label>
				<ion-select [(ngModel)]="city" name="city" (ionChange)="changeCity()">
					<ion-option *ngFor="let cl of citiesList " [value]="cl.city"> {{ cl.name }} </ion-option>
				</ion-select>
			</ion-item>

			<ion-item class="item-list-username-login-registro" *ngIf="viewService">
				<ion-label floating for="service">
					Tipo de servicio
				</ion-label>
				<ion-select [(ngModel)]="service" name="service" (ionChange)="changeService()">
					<ion-option *ngFor="let sl of serviceList " [value]="sl.zones"> {{ sl.name }} </ion-option>
				</ion-select>
			</ion-item>

			<ion-item class="item-list-username-login-registro" *ngIf="viewButton">
				<button ion-button class="button-login" type="submit" (click)="submit()" *ngIf="!call">{{ text }}</button>
				<div  *ngIf="call">
					<p>No tenemos resultados, con las opciones seleccionadas, permitanos orientarlo, comuniquese con nuestro contact center.</p>
					<a ion-button class="button-login" href="{{ data.fail }}" (click)="addHistory(data.fail, data.title)">
						{{ text }}
					</a>
				</div>
			</ion-item>
		</ion-list>
	</form>
</ion-content>