<ion-header no-border class="header">
    <button class="menu" (click)="func()">
        <img src="assets/icon/Arrow-Left.svg" alt="">
    </button>
    <ion-title>
        historico
    </ion-title>
    <img class="menu-close" src="assets/icon/menu_icon.svg" menuToggle/>
</ion-header>

<ion-content padding>
    <ion-grid>
        <ion-row>
            <ion-col>
                <ion-datetime name="desde" displayFormat="DD-MM-YYYY" pickerFormat="DDD MMMM YYYY" placeholder="Desde"></ion-datetime>
            </ion-col>
            <ion-col>
                <ion-datetime name="Hasta" displayFormat="DD-MM-YYYY" pickerFormat="DDD MMMM YYYY" placeholder="Hasta"></ion-datetime>
            </ion-col>
            <ion-col>
                <button ion-button>Buscar</button>
            </ion-col>
        </ion-row>
    </ion-grid>
    <ion-list>
        <ion-card (click)="voucher()" class="cursor">
            <ion-card-header>
                46561SV
            </ion-card-header>
            <ion-card-content>
                <h2>
                    Garantia Autolarte v.20
                </h2>
                <p>Juan Perez</p>
                <p>mayo 23 2018</p>
            </ion-card-content>
        </ion-card>
        <ion-card (click)="voucher()" class="cursor">
            <ion-card-header>
                46561SV
            </ion-card-header>
            <ion-card-content>
                <h2>
                    Garantia Autolarte v.20
                </h2>
                <p>Juan Perez</p>
                <p>mayo 23 2018</p>
            </ion-card-content>
        </ion-card>
        <ion-card (click)="voucher()" class="cursor">
            <ion-card-header>
                46561SV
            </ion-card-header>
            <ion-card-content>
                <h2>
                    Garantia Autolarte v.20
                </h2>
                <p>Juan Perez</p>
                <p>mayo 23 2018</p>
            </ion-card-content>
        </ion-card>
        <ion-card (click)="voucher()" class="cursor">
            <ion-card-header>
                46561SV
            </ion-card-header>
            <ion-card-content>
                <h2>
                    Garantia Autolarte v.20
                </h2>
                <p>Juan Perez</p>
                <p>mayo 23 2018</p>
            </ion-card-content>
        </ion-card>
    </ion-list>
</ion-content>