<ion-header no-border class="header">
    <button class="menu" (click)="func(data.back)">
        <img src="assets/icon/Arrow-Left.svg" alt="">
    </button>
    <ion-title>
        {{ data.title }}
    </ion-title>
    <img class="menu-close" src="assets/icon/menu_icon.svg" menuToggle />
</ion-header>

<ion-content padding>
    <loading *ngIf="loading"></loading>
    <!--p>(click)="detail(li.cd)"</p -->
    <ion-list *ngIf="infor">
        <ion-item *ngFor="let li of list" class="cursor" class="noPadding">
            <h1>{{ li.ds }}</h1>
            <h2 class="type-subType">{{ dsTpProducto }} - {{ dSTP }}</h2>
            <p *ngIf="li.tipoTarificacion == 'M' ">Mensual</p>
            <p>{{ li.description }}</p>
            <div class="content-button">
                <button ion-button color="secondary" outline (click)="postData(li)">Más info</button>
                <button ion-button color="secondary" outline (click)="add(li)">Adquirir</button>
            </div>
        </ion-item>
    </ion-list>

    <ion-list *ngIf="!infor">
        <ion-item>
            <p>{{data.error}}</p>
        </ion-item>
    </ion-list>


</ion-content>