<ion-slides class="slides" autoplay="4000" loop="true" speed="400" class="slides" pager="true" *ngIf="slide">
    <ion-slide *ngFor="let img of images">
        <img src="{{ img.url}}" alt="">
        <div class="fondoSlide">
            <div *ngIf="!img.link" class="texts">
                <h4>{{ img.title}}</h4>
                <span>{{ img.subTitle}}</span>
            </div>
            <a *ngIf="img.link" class="texts" href="{{ img.link }}">
                <h4>{{ img.title}}</h4>
                <span>{{ img.subTitle}}</span>
            </a>
        </div>
    </ion-slide>
</ion-slides>
<ion-slides class="slides" class="slides" pager="true" *ngIf="!slide">
    <ion-slide *ngFor="let img of images">
        <img src="{{ img.url}}" alt="">
        <div class="fondoSlide">
            <div *ngIf="!img.link" class="texts">
                <h4>{{ img.title}}</h4>
                <span>{{ img.subTitle}}</span>
            </div>
            <a *ngIf="img.link" class="texts" href="{{ img.link }}">
                <h4>{{ img.title}}</h4>
                <span>{{ img.subTitle}}</span>
            </a>
        </div>
    </ion-slide>
</ion-slides>