slide {
    .texts{
        position: absolute;
        bottom: 25%;
        text-align: left;
        margin: 0 0 0 20px;
        display: block;
        font-size: 1.3rem;
        color: #ffffff;
        width: 50%;
        font-weight: normal;

        h4, h5{
            margin: 0;
            color: #ffffff;
            font-weight: 600;
        }
    }
    .slide-zoom{
        max-height: 150px;
        overflow: hidden;
    }

    .fondoSlide{
        position: absolute;
        top: 0;
        text-align: left;
        margin: 0;
        display: block;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.35);
    }
}
