<ion-header no-border class="header">
    <button class="menu" (click)="func()">
        <img src="assets/icon/Arrow-Left.svg" alt="">
    </button>
    <ion-title>
        {{ data.title }}
    </ion-title>
    <img class="menu-close" src="assets/icon/menu_icon.svg" menuToggle />
</ion-header>

<ion-content padding>
    <ion-list *ngIf="infor">
        <ion-item class="cursor" class="noPadding">
            <h1>{{ infor.ds }}</h1>
        </ion-item>
    </ion-list>
    <!-- FORMULARIOS -->
    <form #form="ngForm" (ngSubmit)="logForm(form)" class="formDinamic">

        <ion-list *ngFor="let form of arrayForm; let i = index" [ngClass]="{'inactive': form.status == false}">

            <ion-list>
                <ion-item class="subTitle">{{ form.title }}</ion-item>
            </ion-list>

            <ion-list *ngFor="let inp of form.data; let j = index">

                <ion-item *ngIf="inp.visible && inp.type == '1' && inp.maxlength >10 || inp.visible && inp.type == '2' && inp.maxlength >10 || inp.visible && inp.type =='3' && inp.maxlength >10 ">
                    <ion-label floating>{{ inp.label }}</ion-label>
                    <ion-input type="text" [(ngModel)]="arrayForm[i].data[j].dataInput" [name]="'_'+inp.dataName"></ion-input>
                </ion-item>

                <ion-item *ngIf="inp.visible && inp.type == '2' && inp.maxlength == 10">
                    <ion-label floating>{{ inp.label }}</ion-label>
                    <ion-datetime displayFormat="MM/DD/YYYY" [(ngModel)]="arrayForm[i].data[j].dataInput" [name]="'_'+inp.dataName"></ion-datetime>
                </ion-item>

                <ion-item *ngIf="inp.visible && inp.type == '5' ">
                    <ion-label floating>{{ inp.label }}</ion-label>
                    <ion-select *ngIf="inp.type == 5" [name]="'_'+inp.dataName" [(ngModel)]="arrayForm[i].data[j].dataInput"
                        [ngModelOptions]="{standalone: true}">
                        <ion-option *ngFor="let opt of inp.option" [value]="opt.cd">{{ opt.ds }}</ion-option>
                    </ion-select>
                </ion-item>

                <ion-item *ngIf="inp.visible && inp.type == '6' ">
                    <ion-label>{{ inp.label }}</ion-label>
                    <ion-checkbox [(ngModel)]="arrayForm[i].data[j].dataInput" [name]="'_'+inp.dataName"></ion-checkbox>
                </ion-item>

            </ion-list>
            <button ion-button type="submit" block>Continuar</button>
        </ion-list>
    </form>
</ion-content>