<ion-header no-border class="header">
    <button class="menu" (click)="dismiss(data.back)">
        <img src="assets/icon/Arrow-Left.svg" alt="">
    </button>
    <ion-title>
        {{ data.title }} 
    </ion-title>
    <img class="menu-close" src="assets/icon/menu_icon.svg" menuToggle/>
</ion-header>
<ion-content>
    <loading *ngIf="loading"></loading>
    <h4>{{ data.subTitle }} {{ ama_assist }}</h4>
    <div id="map"></div>
    <ion-grid class="time" *ngIf="exist">
        <ion-row>
            <ion-col>{{ data.text1 }}</ion-col>
            <ion-col class="display">
                <img src="assets/icon/pins/Frequency.png" alt="">
                {{ textTime }}
            </ion-col>
        </ion-row>
    </ion-grid>

    <ion-grid class="refresh">
        <ion-row>
            <ion-col>
                <button (click)="refresh()">{{ data.refresh }}</button>
            </ion-col>
            <ion-col>
                <button (click)="update()">{{ data.cancel }}</button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>