<ion-header no-border class="header">
    <button class="menu" (click)="func()">
        <img src="assets/icon/Arrow-Left.svg" alt="">
    </button>
    <ion-title>
        Historial
    </ion-title>
    <img class="menu-close" src="assets/icon/menu_icon.svg" menuToggle/>
</ion-header>

<ion-content>
    <ion-list>
        <ion-list-header>
            <h3>llamadas <span>({{ count }})</span></h3>
        </ion-list-header>
        <div class="history">
            <ion-item *ngFor="let item of items" class="cursor" class="noPadding">
                <ion-grid>
                    <ion-row>
                        <ion-col col-1>
                            <img class="icon-img" src="{{ item.icon }}" alt="">
                        </ion-col>
                        <ion-col col-11>
                            <ion-grid>
                                <ion-row>
                                    <ion-col col-6 text-left>
                                        {{ item.date }}
                                    </ion-col>
                                    <ion-col col-6 text-right>
                                        {{ item.hour }}
                                    </ion-col>
                                </ion-row>
                            </ion-grid>
                            <ion-grid>
                                <ion-row>
                                    <ion-col col-12>
                                        {{ item.click }}
                                    </ion-col>
                                </ion-row>
                            </ion-grid>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-item>
        </div>

    </ion-list>
</ion-content>